body{
    margin: 0;
}
div{
    display: flex;
    margin: .5rem;
    padding: 1rem;
    border: 3px solid black;
    min-height: 1rem;
    flex-grow: 1;
}
.grandparent{
    background-color: rgb(214, 89, 99);
    flex-direction: column;
}
.parent{
    background-color: hsl(100, 47%, 43%);

}

.child{
    background-color: rgb(40, 133, 176);
}